.page_container {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
}

.form_section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70vw;
}

.form_section>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}


.desktop_input_section {
    width: 60%;
}

.app_preview_container {
    margin: 0;
    padding: 0 3rem;
    display: flex;
    background: #0071ff;
    justify-content: center;
    align-items: center;
    min-height: inherit !important;
    color: #fff;
    width: 600px;
    flex-direction: column;
    border-radius: 8px;
}

.titles_container {
    margin: 4rem 0;
}

.top_bottom_margin {
    margin: 3rem 0;
}