.page_container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}


.form_section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70vw;
}

.form_section > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}


.desktop_input_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    padding: 8px 0;
}