.login_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_form_wrapper {
    min-width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.login_form {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}