.back-to-top {
    position: fixed;
    bottom: 35px;
    right: 20px;

    width: 50px;
    font-size: 50px;
    padding: 10px;


    cursor: pointer;
    border-radius: 100px;
    border: none;
  }
  
  

  
 
  

