.card_container {
     transition: 150ms ease-in-out;
     border-radius: 0.8rem;
     box-shadow: 0px 1px 12px -7px rgb(0 0 0 / 17%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.card_container:hover {
     border-radius: 1rem;
     box-shadow: 0px 1px 12px -7px rgb(0 0 0 / 17%), 0px 1px 1px 0px rgba(0, 0, 0, 0.075), 0px 1px 13px 5px rgba(0, 0, 0, 0.09);
}