@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

:root {
  --title--font: "Rowdies", cursive;
  --title--color: #474e68;
  --text--font: "Montserrat Alternates", sans-serif;
  --text--color: #7f8487;
}
